.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Cssssssssssssssssssssssssssssssssssssssssssssssssss by mr */
/* My own clazses */
.bg-white {
  background-color: white;
}
.txt-center {
  text-align: center;
}

/* webste css strats  */
body {
  /* background-color: rgb(219, 244, 241); */
  /* background-image: url(/Background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */
  font-family: "Times New Roman";
}
.Main {
  /* border: 2px solid green;
  background-color: white; */
  margin-top: 6rem;
}
#MainH {
  color: rgb(24, 119, 242);
  font-weight: bold;
}
.formC {
  -webkit-box-shadow: -1px -3px 12px 15px rgba(195, 204, 217, 0.49);
  -moz-box-shadow: -1px -3px 12px 15px rgba(195, 204, 217, 0.49);
  box-shadow: -1px -3px 12px 15px rgba(195, 204, 217, 0.49);
  padding: 2rem;
  background-color: white;
  border-radius: 0.7rem;
}
.formBtn {
  display: flex;
  flex-direction: column;
}
.main-img {
  width: 73%;
  height: 100%;
  border-radius: 100rem;
  background-size: cover;
}

/*To handle the header in hospital.php */
.c-white {
  color: white;
}
.scroller {
  padding: 4px;
  height: 314px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: justify;
}
.patient_scroller {
  padding: 4px;
  height: 581px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: justify;
}
.shape {
  border: 1px solid red;
  border-radius: 100rem;
  padding: 10px;
}
@media (max-width: 759px) {
  .mainIN {
    flex-direction: column;
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.splash {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.splash-image {
  margin-top: 50px;
}

.splash-image img {
  border: 3 ps solid green;
  border-radius: 50%;
}

.splash-loading {
  width: 100%;
  height: 10px;
  margin-top: 20px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
}

.loading-bar {
  width: 0%;
  height: 100%;
  background-color: #333;
  animation: loading 3s ease-in-out infinite;
}

@keyframes loading {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}
